[flake8]
exclude = .git,__pycache__,env,venv
max-line-lenght = 120
max-complexity = 18
ignore = E203, E266, E501, W503, F403, C812, B950, B008
per-file-ignores = */__init__.py: F401
select = B,C,E,F,W,T4,B9
